<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594487046761-55q9gkr4o2ufnd7lbp10ijq4mkd5esnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594487046761-55q9gkr4o2ufnd7lbp10ijq4mkd5esnl</string>
	<key>API_KEY</key>
	<string>AIzaSyABolnwHuJV_YlmIkfx7k8-XpNJDwZypCI</string>
	<key>GCM_SENDER_ID</key>
	<string>594487046761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-5fe24</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-5fe24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594487046761:ios:79878734f3d8b1701de8f8</string>
</dict>
</plist>